<div class="flex justify-center items-center h-screen">
  <!-- ? Card Forward Side-->
  <div
    class="card w-[26rem] bg-base-100 shadow-2xl border-b-[18px] border-b-red-dark cursor-pointer min-h-96"
  >
    <div
      class="bg-gray-dark rounded-t-[1rem] border-b-[18px] border-b-red-dark curved-div"
    >
      <figure class="px-10 pt-10">
        <img
          src="https://profile-images.xing.com/images/67d0147185d90af82453e1fe2f49063b-5/erkan-yildirim.1024x1024.jpg"
          alt="Shoes"
          class="rounded-full h-36 w-36 object-cover border-8 border-red-dark"
        />
      </figure>
      <div class="text-[#fff] uppercase py-6 tracking-wide font-poppins">
        <h1 class="text-3xl tracking-widest">erkan yildirim</h1>
        <p class="font-light text-[17px]">creative designer</p>
      </div>
    </div>

    <div class="card-body font-poppins">
      <div class="flex justify-center gap-8 text-[17px] mb-6">
        <div class="text-start font-medium">
          <p class="uppercase">id no</p>
          <p class="uppercase">dob</p>
          <p class="capitalize">phone</p>
          <p class="first-letter:capitalize">e-mail</p>
        </div>
        <div class="text-start">
          <p>: 00004484</p>
          <p>: 01-10-21</p>
          <p>: 123 456 789</p>
          <p>: yourid&#64;gmail.com</p>
        </div>
      </div>

      <img
        class="max-h-10 object-cover px-[4.5rem]"
        src="https://webstockreview.net/images/barcode-clipart-transparent-9.png"
      />
      <p class="text-[12px] font-medium tracking-widest text-[#000] -mt-[12px]">
        2346894578930245
      </p>
    </div>
  </div>

  <!-- ? Card Backward Side-->
  <!-- <div
    class="card w-[28rem] bg-base-100 shadow-2xl border-b-[18px] border-b-red-dark cursor-pointer min-h-80"
  >
    <div
      class="rounded-t-[1rem] border-b-[18px] border-b-red-dark curved-div py-10"
    >
      <img class="w-36 mx-auto" src="https://iili.io/JwEXS4e.png" />
      <div class="uppercase font-poppins">
        <h1 class="text-3xl tracking-widest font-semibold">company name</h1>
        <p class="font-light text-[17px] tracking-[0.6rem]">tagline here</p>
      </div>
    </div>

    <div class="card-body bg-gray-dark font-poppins text-[#fff]">
      <h2 class="card-title text-center tracking-wide mx-auto uppercase pb-6">
        terms & conditions
      </h2>
      <div class="flex flex-col gap-2">
        <p class="text-start text-sm font-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
          architecto amet consectetur adipisicing elit dolor sit vitae.
        </p>
        <p class="text-start text-sm font-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
          architecto amet consectetur adipisicing elit dolor sit vitae.
        </p>
        <p class="text-start text-sm font-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
          architecto amet consectetur adipisicing elit dolor sit vitae.
        </p>
      </div>

      <div class="mx-auto text-start py-4">
        <p>
          <span class="text-red-lighter font-semibold">Date of Issue</span>:
          10-03-2021
        </p>
        <p>
          <span class="text-red-lighter font-semibold">Expire Date</span>:
          20-05-2022
        </p>
      </div>
    </div>
  </div> -->
</div>
