<div class="hero min-h-screen">
  <div
    *ngIf="!submittedSuccessfully"
    class="hero-content flex-col w-full h-full lg:h-auto lg:max-w-[58rem] lg:flex-row justify-between md:gap-10 bg-white shadow-2xl lg:rounded-2xl p-6 border-[1px] border-gray-100"
  >
    <div class="text-center lg:text-center w-full flex-1 items-end">
      <!-- Form Title -->
      <div class="h-full flex items-center justify-center">
        <h1
          class="text-xl sm:text-2xl lg:text-3xl text-gray-800 font-bold leading-[45px] font-poppins tracking-wider"
        >
          Build your own <span class="text-primary lg:block">Card!</span>
        </h1>
      </div>
    </div>

    <div
      class="card w-full max-w-[30rem] bg-base-100 -mt-16 sm:-mt-10 lg:-mt-0"
    >
      <form
        class="card-body"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- Company Name -->
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px] font-medium font-poppins"
              >Company Name</span
            >
          </label>

          <input
            formControlName="companyName"
            type="text"
            placeholder="Enter company name"
            class="input input-bordered text-[16px]"
          />

          <div class="h-3 p-[3px] font-poppins">
            <div
              class="text-red-dark text-start text-[13px] font-semibold font-poppins"
              *ngIf=" (registerForm.get('companyName')?.touched || submitted) &&
              registerForm.get('companyName')?.errors?.['required']"
            >
              Company name is required
            </div>
            <div
              class="text-red-dark text-start text-[13px] font-semibold font-poppins"
              *ngIf=" (registerForm.get('companyName')?.touched || submitted) &&
              registerForm.get('companyName')?.errors?.['pattern']"
            >
              Only alphapetic letters are allowed
            </div>
          </div>
        </div>

        <!-- Employee Name -->
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px] font-medium font-poppins"
              >Employee Name</span
            >
          </label>
          <input
            formControlName="employeeName"
            type="text"
            placeholder="Enter employee name"
            class="input input-bordered text-[16px]"
          />
          <div class="h-3 p-[3px] font-poppins">
            <div
              class="text-red-dark text-start text-[13px] font-semibold"
              *ngIf=" (registerForm.get('employeeName')?.touched || submitted) &&
              registerForm.get('employeeName')?.errors?.['required']"
            >
              Employee name is required
            </div>
            <div
              class="text-red-dark text-start text-[13px] font-semibold"
              *ngIf=" (registerForm.get('employeeName')?.touched || submitted) &&
            registerForm.get('employeeName')?.errors?.['pattern']"
            >
              Only alphapetic letters are allowed
            </div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px] font-medium font-poppins"
              >Email</span
            >
          </label>
          <input
            formControlName="email"
            type="email"
            placeholder="Enter email"
            class="input input-bordered text-[16px]"
          />
          <div class="h-3 p-[3px] font-poppins">
            <div
              class="text-red-dark text-start text-[13px] font-semibold"
              *ngIf=" (registerForm.get('email')?.touched || submitted) &&
              registerForm.get('email')?.errors?.['required']"
            >
              Email is required
            </div>
            <div
              class="text-red-dark text-start text-[13px] font-semibold"
              *ngIf=" (registerForm.get('email')?.touched || submitted) &&
              registerForm.get('email')?.errors?.['email']"
            >
              Email format is not valid
            </div>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row gap-3">
          <!-- ID Number -->
          <div class="form-control flex-1">
            <label class="label">
              <span class="label-text text-[16px] font-medium font-poppins"
                >ID Number</span
              >
            </label>
            <input
              formControlName="idNumber"
              type="number"
              placeholder="Enter ID number"
              class="input input-bordered text-[16px]"
            />
            <div class="h-3 p-[3px] font-poppins">
              <div
                class="text-red-dark text-start text-[13px] font-semibold font-poppins"
                *ngIf=" (registerForm.get('idNumber')?.touched || submitted) &&
              registerForm.get('idNumber')?.errors?.['required']"
              >
                ID number is required
              </div>
            </div>
          </div>

          <!-- Date of Birth -->
          <div class="form-control flex-1">
            <label class="label">
              <span class="label-text text-[16px] font-medium font-poppins"
                >Date of Birth</span
              >
            </label>
            <input
              formControlName="dateOfBirth"
              type="date"
              placeholder="DOB"
              class="input input-bordered text-[16px]"
            />
            <div class="h-3 p-[3px] font-poppins">
              <div
                class="text-red-dark text-start text-[13px] font-semibold font-poppins"
                *ngIf=" (registerForm.get('dateOfBirth')?.touched || submitted) &&
              registerForm.get('dateOfBirth')?.errors?.['required']"
              >
                Date of birth is required
              </div>
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-control mt-6">
          <button class="btn text-[15px] btn-primary capitalize text-white">
            submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Loader component -->
  <div *ngIf="submittedSuccessfully && !imageLoaded">
    <app-loader></app-loader>
  </div>
  <div *ngIf="submittedSuccessfully && imageLoaded">
    <!-- Employee card component -->
    <app-employee-card [formData]="formData"></app-employee-card>
  </div>
</div>
