<div class="hero min-h-screen bg-base-200">
  <div
    class="hero-content flex-col lg:flex-row gap-16 rounded-md bg-[#ffff] p-6"
  >
    <div class="text-center lg:text-center">
      <h1
        class="text-4xl text-gray-800 capitalize font-poppins order-1 lg:order-0 tracking-wider"
      >
        interactive employee card.
      </h1>
    </div>
    <div
      class="card shrink-0 w-full max-w-md shadow-2xl bg-base-100 order-2 lg:order-0"
    >
      <form class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px]">Company Name</span>
          </label>
          <input
            type="text"
            placeholder="Enter company name"
            class="input input-bordered text-[15px] font-light"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px]">Employee Name</span>
          </label>
          <input
            type="text"
            placeholder=" Enter employee name"
            class="input input-bordered text-[15px] font-light"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px]">ID Number</span>
          </label>
          <input
            type="number"
            placeholder="Enter id number"
            class="input input-bordered text-[15px] font-light"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px]">Date of Birth</span>
          </label>
          <input
            type="date"
            placeholder="DOB"
            class="input input-bordered text-[15px] font-light"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-[16px]">Email</span>
          </label>
          <input
            type="email"
            placeholder="Enter email"
            class="input input-bordered text-[15px] font-light"
            required
          />
        </div>

        <div class="form-control mt-6">
          <!-- <button
            class="btn text-[15px] border-none bg-red-dark hover:bg-red-lighter capitalize text-[#fff]"
          >
            submit
          </button> -->
          <button class="btn text-[15px] btn-primary capitalize text-[#fff]">
            submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
