<div class="flex justify-center items-center h-screen overflow-hidden">
  <div class="container">
    <div class="flex card" [ngClass]="toggleProperty ? 'flipped' : ''">
      <!-- ? Card Forward Side-->
      <div
        (click)="toggle()"
        class="front card rounded-lg w-[24rem] bg-base-100 shadow-2xl border-b-[18px] border-b-red-dark cursor-pointer card__forward overflow-hidden"
      >
        <div
          class="bg-gray-dark rounded-t-[1rem] py-4 -m-5 border-[16px] border-red-dark rounded-full scale-[1.3]"
        >
          <figure class="px-10 pt-16">
            <div
              class="overflow-hidden rounded-full border-[6px] border-red-dark"
            >
              <img
                src="https://profile-images.xing.com/images/67d0147185d90af82453e1fe2f49063b-5/erkan-yildirim.1024x1024.jpg"
                alt="employee image"
                class="rounded-full h-[102px] w-[102px] object-cover transition-transform duration-300 transform hover:scale-110"
              />
            </div>
          </figure>
          <div class="text-[#fff] uppercase py-6 tracking-wide font-poppins">
            <h1 class="text-[24px] text-wrap">employeeName</h1>
            <p class="font-light text-[12px] -mt-[6px]">creative designer</p>
          </div>
        </div>
        <div class="card-body font-poppins flex justify-center -mb-[85px]">
          <div class="flex flex-col gap-8">
            <div class="flex justify-center gap-8 text-[17px]">
              <div class="text-start font-medium">
                <p class="uppercase">id no</p>
                <p class="uppercase">dob</p>
                <p class="capitalize">phone</p>
                <p class="first-letter:capitalize">e-mail</p>
              </div>
              <div class="text-start">
                <p>: idNumber</p>
                <p>: dateOfBirth</p>
                <p>: 123 456 789</p>
                <p>: email</p>
              </div>
            </div>

            <div>
              <img
                class="object-cover w-48 max-h-10 mx-auto"
                src="https://webstockreview.net/images/barcode-clipart-transparent-9.png"
              />
              <p
                class="text-[12px] font-medium tracking-widest text-[#000] -mt-[4px]"
              >
                2346894578930245
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- ? Card Backward Side-->
      <div
        (click)="toggle()"
        class="back card w-[24rem] bg-gray-dark outline-none fshadow-2xl border-b-[18px] border-b-red-dark cursor-pointer card__backward overflow-hidden"
      >
        <div
          class="bg-white rounded-t-[1rem] -m-5 border-[16px] border-red-dark rounded-full py-[70px] scale-[1.3]"
        >
          <img
            class="mx-auto animate-pulse mt-4 w-28"
            src="https://iili.io/JwNVywF.png"
          />
          <div class="uppercase font-poppins">
            <h1 class="text-[24px] font-semibold">companyName</h1>
            <p class="font-normal text-[14px] tracking-[0.3rem] -mt-[6px]">
              tagline here
            </p>
          </div>
        </div>

        <div class="card-body font-poppins text-[#fff] pt-24">
          <h2
            class="card-title text-center tracking-wide mx-auto capitalize font-medium pb-2"
          >
            terms & conditions
          </h2>
          <div class="flex flex-col gap-2 pb-2">
            <p class="text-start text-xs font-light w-full">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
              architecto amet consectetur adipisicing elit dolor sit vitae ipsum
              dolor.
            </p>
            <p class="text-start text-xs font-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
              architecto amet consectetur adipisicing elit dolor sit vitae ipsum
              dolor.
            </p>
            <p class="text-start text-xs font-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim
              architecto amet consectetur adipisicing elit dolor sit vitae ipsum
              dolor.
            </p>
          </div>

          <div class="mx-auto text-start text-sm -mb-3">
            <p>
              <span class="text-red-dark font-semibold">Date of Issue</span>:
              10-03-2021
            </p>
            <p>
              <span class="text-red-dark font-semibold">Expire Date</span>:
              20-05-2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
